* {
	padding: 0;
	margin: 0;
	border: 0;
}

*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/* ------ОБНУЛЕНИЕ САЙТА---------------------------- */

body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 14px;

}

.wrapper {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	max-width: 1110px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 25px;
	margin: 0 auto;
}

.header__nav_item {
	display: flex;
	list-style-type: none;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-left: none;
}

.nav,
li {
	margin-left: 25px;
	margin-right: 25px;
	font-size: 20px;
}

.nav,
li,
a {
	text-decoration: none;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
}


.header {
	background-image: url("https://eda-land.ru/images/article/orig/2018/08/raznovidnosti-krup-iz-pshenicy.jpg");
}

.header__text {
	font-size: 50px;
	color: #ffffff;
	font-weight: 700;
	padding-top: 50px;
	padding-bottom: 70px;
}

/*секция мейн*/
.main__container .main__public_item img {
	width: 120px;
	height: 120px;
}

.main__container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #F9CA7B;
	padding: 50px;
	/*border: 3px solid #000000;*/
}

.main__public_item h3 {
	font-size: 20px;
	font-weight: 600;
	/*border: 2px solid #000000;*/
	padding: 30px opx;
	text-transform: uppercase;
}

.main__public_item p {
	padding-top: 10px;
	color: #5a5a5a;
	font-size: 17px;
	font-weight: 500;
	line-height: 25px;
}

.main__wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.main__history_one {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 30px;
	/*border: 1px solid #000000;*/
}

.main__history_title {
	font-size: 30px;
	font-weight: 900;
	margin: 40px 0px;
	/*border: 1px solid #000;*/
	text-transform: uppercase;
}

.main__wrapper h3 {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
}

.main__wrapper p {
	font-size: 17px;
	color: #5a5a5a;
	padding-top: 20px;
	line-height: 25px;
}

.main__history_img {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*border: 1px solid #000000;*/
	margin-top: 70px;
}

.main__history_two {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	/*border: 1px solid #000000;*/
}

.main__history_img2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*border: 1px solid #000000;*/
}

.main__history_img .main__history_img2,
i {
	font-size: 17px;
	padding-bottom: 20px;
	color: #5a5a5a;
}

.main__history_img a {
	color: #A25F2A;
	font-size: 15px;
	text-decoration: underline;
	text-transform: lowercase;
}

.main__history_img2 a {
	color: #A25F2A;
	font-size: 15px;
	text-decoration: underline;
	text-transform: lowercase;
}

.main__history_img .main__history_img2,
img {
	height: 110px;
	width: 230px;
}

.main__press {
	background-color: #E4E4E4;
}

.main__press_wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border: 2px solid #000000;
	padding: 0px 200px;
}




.main__press_title {
	border: 1px solid #000000;
	font-size: 30px;
	font-weight: 900;
	margin: 40px 0px;
	text-transform: uppercase;
}




.main__press_subtitles {
	border: 1px solid #000000;
	font-size: 17px;
	color: #5a5a5a;
	line-height: 25px;
}

.main__press_button {
	border: 1px solid #000000;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}












.footer {
	background-color: #000000;
}

.footer__nav_item {
	display: flex;
	list-style-type: none;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-left: none;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
	padding: 15px 0px 15px;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	padding: 30px 0px 15px;
}

.footer__text {
	font-size: 13px;
	font-weight: 600;
	color: #808080;
}

.footer__text b {
	font-weight: 900;
}

.footer__copy {
	font-size: 12px;
	font-weight: 700;
	color: #808080;
	line-height: 15px;
}

.container .footer__icon img {
	padding: 20px;
	background-color: #1f1f1f;
}